body {
  min-height:100%;
  background-color: #1B828E;
  font-family: helvetica;
  color: #ffffff;
  -webkit-transition: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  overflow-scrolling: touch;
  margin: 0;
}

.header {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 5rem;
    flex: 0 0 5rem;
    box-sizing: border-box;
    background: #166E78;
    padding: .7rem;
    font-size: 24px;
  }

.heading {
    position: absolute;
    text-align: center;
    display: inline-block;
    top: -19px;
    left:30%;
    right:30%;

}

.moodmeter {
    padding-top:5%;

}

.anonymous {
    text-align: center;
    margin: 0;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #166E78;
    padding-bottom: 5%;
}

.footer {
    text-align:center;

}

.form-heading {
  width:80%;
  padding-left: 10%;
  padding-right: 10%;
  background-color:#2CE6CE;
  max-height:100px;
  margin:auto;
  padding-top:1%;
  padding-bottom:1%;
}

.question {
  height:100%;
  background-color:#fff;
  width:70%;
  margin-left:15%;
  margin-right:15%;
  border-radius: 25px;
  margin-top:20px;
  margin-bottom:20px;
  color: #000;

}

.question textarea {
  display:none;
}

.question-title {
  margin-left:10%;
  margin-right:10%;
}

.reply {
  height:225px;
  background-color:#2CE6CE;
  width:70%;
  margin-left:15%;
  margin-right:15%;
  border-radius: 25px;
}

.btn {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: gray;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #166e78;
  text-decoration: none;
}

/*Star Rating*/

.rating {
  margin-left: 33%;
  margin-right: 33%;
  width:200px;
}

.rating:not(:checked) > input {
  position:absolute;
  clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
  float:right;
  width:1em;
  padding:0 .1em;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size:200%;
  line-height:1.2;
  color:#ddd;
  text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:before {
  content: &#9733;
}

.rating > input:checked ~ label {
  color: #ff7700;
  text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: gold;
  text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating> input:checked + label:hover,
.rating> input:checked + label:hover ~ label,
.rating> input:checked ~ label:hover,
.rating> input:checked ~ label:hover ~ label,
.rating> label:hover ~ input:checked ~ label {
  color: #ea0;
  text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > label:active {
  position:relative;
  top:2px;
  left:2px;
}


